.divCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.divLoading {
    background-color: rgb(24, 27, 29);
    background-size: fill;
    height: 66.8vh;
    padding: 7rem;
    margin: auto;
}