.divCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12rem;
    /* margin: auto; */
    margin: 1rem 1rem;
    background-color: whitesmoke;
    /* box-shadow: 10px 10px 15px rgba(129, 129, 129, 0.5); */
    box-shadow: 0 0 2rem rgba(231, 231, 231, 0.8);
    border-radius: 0.5rem;
}

.divCard:hover {
    transform: scale(1.05);
    transition: transform 0.8s;
    transition-delay: 0.1s;
}

.divImgContainer {
    background-color: #e8e8e8;
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
}

.imgCard {
    width: 100%;
}

.idContainer {
    display: flex;
    margin: 0;
    position: relative;
    width: 100%;
    height: 2rem;
}

.id {
    position: relative;
    padding-left: 1rem;
    margin: 0;
    color: grey;
    font-weight: 500;
    font-size: small;
    text-align: left;
}

.nameContainer {
    display: flex;
    margin: 0;
    position: relative;
    width: 100%;
}

.name {
    margin: auto;
    color: black;
    margin: 0;
    padding-left: 1rem;
    font-weight: 600;
    font-size: larger;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.divSpecs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-size: larger;
    column-gap: 0.5rem;
}

.divSpecs > *:first-child {
    margin-left: 1rem;
  }

.specs {
    padding: 0.2rem;
    width: 4rem;
    color:whitesmoke;
    font-weight: 400;
    font-size: x-small;
    text-transform: capitalize;
    background-color: cadetblue;
    border-radius: 3px;
    font-family: "Flexo-Medium",arial,sans-serif;
}