.divMainContainer {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divTitle {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.85);
  height: 3rem;
  width: 39rem;
}

.title {
  color: rgb(190, 215, 190);
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  width: 33rem;
  height: 100%;
  padding: 2rem 3rem 2rem 3rem;
  background-color: rgba(0, 0, 0, 0.7);
}

.formLabels {
  color: rgb(158, 214, 164);
  margin: 0 0 0.3rem 0;
  font-weight: 400;
  font-size: 1rem;
  text-align: left;
}

.formInputs {
  color:rgb(57, 63, 57);
  background-color: rgb(184, 202, 186);
  font-weight: 600;
  font-size: 1rem;
  text-align: left;
  border-radius: 0.3rem;
}

.warning {
  border: solid rgb(221, 100, 100) 1px;
}

.danger {
  font-size: 1rem;
  color: rgb(221, 100, 100);
  text-align: left;
  margin-top: 0.5rem;
}


.divButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  background-color: rgba(0, 0, 0, 0.85);
  width: 39rem;
}